header {

    .nav__modific {
        position: fixed;
        width: 100%;

        .container__modific {
            margin-top: -8px;
            margin-bottom: -8px;
            background: #232526;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #414345, #232526);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #414345, #232526);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

            div {
                display: flex;
                margin-left: 2rem;

                img {
                    width: 26%;
                    margin-top: -0.5rem;
                }

                p {
                    color: white;
                    font-size: 1.2rem;
                    padding-top: 1rem;
                }
            }

            .nav__gonzalolosantos {
                display: flex;
                margin-left: auto;

                .name {
                    text-decoration: none;
                }

                .img__izquierda__logo {
                    width: 2rem;

                    img {
                        width: 40%;
                        border: 1px solid #238f0d;
                    }
                }

                div {

                    img {
                        border: 4px double #000000;
                        margin-left: 5rem;
                        width: 20%;
                        margin-top: 2px;
                        border-radius: 4px;
                    }
                }
            }

            a {
                color: white;
                margin-top: 0.7rem;
            }

            .ini__contact__etc {
                margin-left: auto;

                a {
                    margin: 0.5rem;
                    font-size: 1.3rem;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        transform: scale(1.2);
                        color: #ffffff;
                        text-shadow: 0px 0px 5px #fcfcfc;
                    }
                }

            }
        }
    }
}